<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{data}}</h1>
    <hr/>
    <ul>
        {%for k in data%}
        <li>{{k}}</li>
        {%endfor%}
    </ul>
    <hr>
    <table border="1">
        <tr>
            <th>Id</th> <th>Nmae</th>
        </tr>
        {%for k,v  in data.items}

        <tr><td>{{k}}</td><td>{{v}}</td></tr>
        {{%endfor%}}

    </table>
</body>
</html>

