<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <hr>
    <table border="1">
        <tr>
            <th>Id</th> <th>Nmae</th> <th>Age</th><th></th>
        </tr>
        {%for k,v  in data.items}

        <tr><td>{{k}}</td>
            {%for details in v%}
            <td>{{deatils}}</td></tr>
        {{%endfor%}}</tr>
        

    </table>
</body>
</html>